*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.add-btn{
    padding: 20px;
    width: 270px;
    background: rgba(3, 106, 138, 0.979);
    border-radius: 5px;
    margin: 20px auto 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.add-btn:hover{
    background: rgba(0, 0, 0,0.8);
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.book{
    padding: 20px;
    min-width: 200px;
    background: rgba(1, 36, 43, 0.685);
    height: 140px;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    gap: 10px;
    margin-top: 100px;
}

.cross-btn{
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}


.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.add-book-form{
    width: 50vw;
    height: 40vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#form-top{
    width: 50vw;
    height: 50px;
    background-color: green;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}



.hide-modal{
    display: none;
}

.show-modal{
    display: flex;
}

.input-ctn{
    width: 50vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
}

.book-title{
    width: 380px;
    padding: 10px;
    border: 1px solid white;
}

.add-book-btn{
    width: 120px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}